<h1>Подтверждение почты</h1>

<p>Скопируйте и вставьте этот код для подтверждения:</p>

<code>{{ token }}</code>

<p>Если вы не отправляли запрос на подтверждение, то можете спокойно проигнорировать это письмо.</p>

<a href="https://limpid.kz">Limpid.kz</a>
