<h1>Восстановление пароля</h1>

<p>Скопируйте и вставьте этот код верификации:</p>

<code>{{token}}</code>

<p>Если вы не отправляли запрос на восстановление пароля, то можете спокойно проигнорировать это письмо.</p>

<a href="https://limpid.kz">Limpid.kz</a>
